
*{
    font-family: "Tahoma", sans-serif;
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
}

.title{
    background: rgb(191, 191, 216);
    font-size: 5rem;
    text-align: center;
    margin: 0 auto;
}

#index-recipe-list{
    text-align: center;
    list-style-type: none;

}
.recipe-link{
    display: inline-block;
    margin: 1em 4em;
   
}
.recipe-link a{
    font-size: 4rem;
    text-decoration: none;
}   